<div class="container">
  <section >
    <h1>Har du svårt att göra dig förstådd utomlands?</h1>
    <p>
      Sök efter ordet och visa resultatet för den du pratar med
    </p>
    <%= render "common/search_form"%>
  </section>
  <section>
    <%= render "refills/comment"%>
  </section>
</div>