<%= render "refills/navigation"%>
<div class="container">
  <section>
    <ul>
      <% @icons.each do |icon| %>
        <%= image_tag icon, size: "64" %>
      <% end %>
    </ul>
  </section>
</div>