/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "base/base";
@import "neat";
@import "refills/search-bar";
@import "refills/icon-bullet-points";
@import "refills/hero";
@import "refills/navigation";

div.container {
  @include outer-container;
}

section {
  @include pad();
  text-align: center;
}

.example {
  @include pad();

  img {
    width: 300px;
    border-radius: 5px;
    border: 1px solid silver;
  }
}

.not-found-message {
  font-style: italic;
  font-size: 0.9em;
}

.translated-word {
  font-size: 1.2em;
  font-weight: 800;
}