<div class="comment">
  <div class="comment-image">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/14497-200.png" alt="">
  </div>
  <div class="comment-content">
    <h1>Lax</h1>
  </div>
</div>

<div class="comment">
  <div class="comment-image">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/59976-200.png" alt="">
  </div>
  <div class="comment-content">
    <h1>Vandrarhem</h1>
  </div>
</div>

<div class="comment">
  <div class="comment-image">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/27151-200.png" alt="">
  </div>
  <div class="comment-content">
    <h1>Klättra</h1>
  </div>
</div>