<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/14497-200.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Lax</h2>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/59976-200.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Vandrarhem</h2>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/27151-200.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Klättra</h2>
    </div>
  </div>
</div>