<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="example">
      <h2>Lax</h2>
      <%= image_tag "example-salmon.png" %>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="example">
      <h2>Tågstation</h2>
      <%= image_tag "example-train-station.png" %>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="example">
      <h2>Klättring</h2>
      <%= image_tag "example-climbing.png" %>
    </div>
  </div>
</div>